jupyter
torch
numpy
pandas
tqdm
matplotlib
langchain
langchain-experimental
langchain-huggingface
langchain-cohere
langchain-pinecone
langchain-chroma
sentence-transformers
cohere
transformers
datasets
huggingface_hub
unstructured
ragas
pinecone-client
io
